# Authentication Secrets Template (Do NOT put actual secrets here)
PIN=your_pin_here
VALID_EMPLOYEE_ID=your_employee_id_here
VALID_PASSWORD=your_password_here
INVALID_EMPLOYEE_ID=invalid_id_here

# Self-Registration & Activation Test Data
UNREGISTERED_EMPLOYEE_ID=0007
VALID_OTP=123456
ADMIN_CREATED_EMPLOYEE_ID=0008
NEW_ACTIVATED_EMPLOYEE_ID=0007
NEW_ACTIVATED_PASSWORD=Chamati@123
